@model UsersIndexViewModel

<div>
    <h1>Search for users</h1>

    <form action="@Url.Action("Index", "Users")" method="get">
        <input type="text" name="Search" placeholder="Search" value="@Model.Search" />
        <input type="submit" value="Search" />
    </form>

    <hr />

    <h2>Results</h2>

    @if (!string.IsNullOrEmpty(Model.Search))
    {
        @if (Model.Result.Any())
        {
            <div class="user-list">
                @foreach (var user in Model.Result)
                {
                    <div class="user-item">
                        <div>
                            <a href="@Url.Action("ShowUser", "Users", new { userId = user.Id })">@user.Name</a>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="empty-state">
                No users found. Try searching for someone else!
            </div>
        }
    }
</div>

@await Html.PartialAsync("_FriendsBox", Model.FollowedUsers)
