* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 0;
    height: 100%;
    overflow: hidden; 
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.main-content {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    width: 100%;
    position: relative; 
    height: 100vh; 
    padding: 20px; 
    box-sizing: border-box;
}

.logo-text {
    position: absolute; 
    left: 20px; 
    top: 50px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
    text-align: left; 
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.log-in {
    background-color: #24b0fccb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%; 
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 15px;
}

.password-text {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card.mb-4 {
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: left;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
}

.index-broadcasts {
    margin-top: 20px;
}

.broadcast-item {
    margin-bottom: 20px;
}

    .broadcast-item img {
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 5px;
    }
