@model BroadcastSocialMedia.ViewModels.AccountForgotPasswordViewModel

<h2>Password Reset Requested</h2>

<p>To reset your password, <a asp-action="ResetPassword" asp-route-token="dummy-token" asp-route-email="@Model.Email">click here</a> to proceed.</p>
